
body{
  color:black;
padding:2px 20px 30px 10px;
}
section{
  height:200px;
  width:200px;
}




main{
  width:50%;
  height:200px;
  text-align:center;

}
div.div2{
background-color:lightblue;
  width: 20%;
  height:50px;
  dispaly:flex;
  flex-direction:row;
}
footer{
  background: silver;
  height: 50px;
  width: 100%;
  text-shadow: 0px 1px white;
  padding:5px;
  text-align:right;
}
