body{
color:black;
padding:2px 20px 30px 10px;
background-image:linear-gradient(black,white);
background-position: center;
background-repeat: no-repeat;
background-size: auto;
}
Header{
  color:linen;
  width:100%;
  height:100px;
  text-align:center;
  background:purple;
  flex-direction: column;
  margin:0px;
}
header h1{
  font-family:cursive;
  text-align:center;
  position:relative;
  padding :10px;
  opacity: 1;
  animation-name:opa;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
@keyframes opa {
    0%{opacity: 1}
  20%{opacity: 0.6}
  40%{opacity: 0.4}
  60%{opacity: 0.0}
  80%{opacity: 0.4}
  90%{opacity: 0.6}
  100%{opacity: 1}
}

section{
  display: flex;
  flex-direction: row;
  height: 900px;

}
.div1{
  flex-direction:column;
  background-color:lightblue;
  width:20%;
  height:350px;
  text-shadow: 20px;
}
section div.div2{
   background-color:lightblue;
  width:20%;
  height:900px;


}
nav{
  background:lightblue;
  width: 20%;
  display: flex;
  flex-direction: column;

}
a{
  text-decoration: none;
  color: none;
}
nav ul{
  list-style-type:none;
  width: 100px;
  display: flex;
  flex-direction: column;
}
nav ul li{
  margin: 10px 0px 10px 0px;
  background: lightblue;
  padding: 0px 0px 0px 10px;
}
 nav ul li:hover{
   background: black;
   color: white;
 }

main{
  width: 60%;
  display: flex;
  justify-content: center;
  text-align:center;
  list-style-type: none;
}
main ul{
  list-style-type: none;

}
main ul li{
  margin: 5px 0px 5px 0px;

}
main ul li ol{
  margin: 20px;
}

footer{
  background:tomato;
  height: 100px;
  width: 100%;
  text-shadow: 0px 1px white;
  padding:5px;
  text-align:right;
}

footer img{
  padding:10px;
  height:50px;
}
footer div{
  text-align:center;
  padding:10px;
  display:flex;
  flex-direction:row;
}
@media (max-width: 425px) {
  section{
    flex-direction: column;
  }
  section nav{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  section nav ul{
  }
  section main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
